h1 {
    color: green;
    text-align: center;
    border: solid red;
    cursor: pointer;
}

body {
    background-image: url(p3.gif);
    background-size: cover;
}

li {
    list-style: none;
    display: inline-block;
    text-decoration-style: dotted;
    text-align: center;

}

p1 {
    color: blue;
    cursor: pointer;
    text-align: center;
}

p2 {
    color: red;
    cursor: pointer;
}

img {
    align-items: center;
}